<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
         <link rel="icon" href="img/works/fav.png">
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        <title>About || Scrapy</title>
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        
        <!-- ================================
        CSS Files
        ================================= -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="css/themefisher-fonts.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/dark.css">
        <link id="color-changer" rel="stylesheet" href="css/colors/color-0.css">
    </head>

    <body class="dark">

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>

        
        

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-about relative">
                    <!-- .close -->
                    <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
                    <!-- /.close -->

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title text-center">
                                    <h2>About <span class="primary"> Scrapy</span> <span class="title-bg">Scrapper</span></h2>
                                    <br>
                                    <br>

                                    <p>Scarpy is a simple web scraping is a service that allows you to extract data directly from a website and  convert that data in excel or other format you require.</p>
                                </div>
                            </div>
                          
                      <div class="col-xs-12 col-sm-6 col-md-4 Artworks Illustrator">
                                <figure class="works-item">
                                    <img src="img/works/ecom.jpeg" alt="">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>E-commerce</h4>
                                        <p>Deliberately the fastest way of gathering data from <br>e-commerce  sites.It works in a way that a jquery<br> selector is created which goes through the pages of  <br>the website and collects the necessary information,  <br>potentially reducing the time it takes to go through  <br>the website and create category, subcategory, <br> etc selectors manually.</p>
                                                                            </figcaption>
                                </figure>
                            </div>
                           
                          <div class="col-xs-12 col-sm-6 col-md-4 Artworks Illustrator">
                                <figure class="works-item">
                                    <img src="img/works/org.jpeg" alt="">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>ORGANIZE</h4>
                                        <p>Using Our website we got data whole organised and  ready to use.</p>
                                    </figcaption>
                                </figure>
                            </div>
                 <div class="col-xs-12 col-sm-6 col-md-4 Artworks Illustrator">
                                <figure class="works-item">
                                    <img src="img/works/cloud.png" alt="">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>Download</h4>
                                        <p>You can extract millions of data and then you can <br>fetch that data to excel and download that in form <br>of worksheet to you your local system</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 Artworks Illustrator">
                                <figure class="works-item">
                                    <img src="img/works/cloud.jpeg" alt="">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>E-commerce</h4>
                                        <p>Extract millions of products and prices from online retailers.<br> Scrape reviews, ratings and images</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 Artworks Illustrator">
                                <figure class="works-item">
                                    <img src="img/works/" alt="">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4></h4>
                                        <p></p>
                                    </figcaption>
                                </figure>
                            </div>

                              <div class="col-xs-12 col-sm-6 col-md-4 Artworks Illustrator">
                                <figure class="works-item">
                                    <img src="img/works/exc.jpeg" alt="">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>Excel</h4>
                                        <p>Web queries feature of MS Excel is used to fetch <br>website data to excel and can be extracted into the<br> worksheet easily. It can automatically find tables <br>on the webpage and would let you pick the particular <br>table you need the data from.</p>
                                    </figcaption>
                                </figure>
                            </div>


                            

                          
                    <!-- /.container -->
                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
        
        <!-- ================================
        JavaScript Libraries
        ================================= -->
        <script src="js/vendor/jquery-2.2.4.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery-validation.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>