<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        <title>About || Scrapy</title>
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        
        <!-- ================================
        CSS Files
        ================================= -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="css/themefisher-fonts.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/dark.css">
        <link id="color-changer" rel="stylesheet" href="css/colors/color-0.css">
    </head>

    <body class="dark">

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>

        
        

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-about relative">
                    <!-- .close -->
                    <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
                    <!-- /.close -->

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title text-center">
                                    <h2>About <span class="primary"> Scrapy</span> <span class="title-bg">Scrapper</span></h2>
                                    <br>
                                    <br>

                                    <p>Scarpy is a simple web scraping is a service that allows you to extract data directly from a website and  convert that data in excel or other format you require.</p>
                                </div>
                            </div>
                          
                          <div class="space_de_yar">
                           <p class="dotted">pppppppLorem ipsum dolor Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis, dolore! Laborum eum cumque, sit culpa at magni consequatur sapiente dolore, laboriosam impedit debitis optio quisquam commodi ab? Incidunt, cum iste! Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ad iste iure. Perferendis, ipsum provident soluta unde maiores esse voluptates sint autem optio perspiciatis culpa, animi excepturi obcaecati distinctio. A. sit amet consectetur adipisicing elit. Sequi, quisquam nulla eum nesciunt dolorem corporis laudantium quo sint numquam autem, doloribus accusantium. Labore enim velit dolor sunt iste facilis itaque!</p>
                           </div>
                           
                           <div class="space_fir_de">
                               <p class="dotted">pporem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quo ipsum magnam suscipit quis velit consequuntur! Natus neque quidem velit impedit eligendi laboriosam cupiditate asperiores totam non, placeat, est qui!</p>
                           </div>
                           <div class="space_fir_de">
                               <p class="dotted">pporem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quo ipsum magnam suscipit quis velit consequuntur! Natus neque quidem velit impedit eligendi laboriosam cupiditate asperiores totam non, placeat, est qui!</p>
                           </div>
                           <div class="space_fir_de">
                               <p class="dotted">pporem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quo ipsum magnam suscipit quis velit consequuntur! Natus neque quidem velit impedit eligendi laboriosam cupiditate asperiores totam non, placeat, est qui!</p>
                           </div>
        


                          
                    <!-- /.container -->
                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
        
        <!-- ================================
        JavaScript Libraries
        ================================= -->
        <script src="js/vendor/jquery-2.2.4.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery-validation.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>