<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        <title>Scrapy||Team</title>
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        
        <!-- ================================
        CSS Files
        ================================= -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="css/themefisher-fonts.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/dark.css">
        <link id="color-changer" rel="stylesheet" href="css/colors/color-0.css">
    </head>

    <body class="dark">

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>

        

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-quotes relative">
                    <!-- .close -->
                    <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
                    <!-- /.close -->

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title text-center">
                                    <h2>My <span class="primary">Team</span><span class="title-bg">Scrapy</span></h2>
                                    <p>"Individual commitment to a group effort--that is what makes a team work, a company work, a society work, a civilization work." --Vince Lombardi.</p>
                                </div>
                            </div>                            
                        </div> <!-- /.row -->

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="testimonials">
                                    <div class="item clear">
                                        <figure class="thumb">
                                            <div class="tm-hex" style="background-image: url('img/goo.jpeg');">
                                                <div class="hexTop"></div>
                                                <div class="hexBottom"></div>
                                            </div>
                                            <figcaption>
                                                <h4>Nishant kumar</h4>
                                                <span>CEO, Scrapy</span>
                                            </figcaption>
                                        </figure>
                                        <div class="text">
                                            <p>Major continbution on managing of project and time to time anlayis and also
                                                Working on Frontend and backend of project.</p>
                                        </div>
                                    </div>
                                    <div class="item clear">
                                        <figure class="thumb">
                                            <div class="tm-hex" style="background-image: url('img/himma.jpeg');">
                                                <div class="hexTop"></div>
                                                <div class="hexBottom"></div>
                                            </div>
                                            <figcaption>
                                                <h4>Himanshu Kaushal</h4>
                                                <span>Senior Devloper,Scrapy</span>
                                            </figcaption>
                                        </figure>
                                        <div class="text">
                                            <p>Working on backend and managing scraping analyist,Working on Database and organisation </p>
                                        </div>
                                    </div>
                                    <div class="item clear">
                                        <figure class="thumb">
                                            <div class="tm-hex" style="background-image: url('img/hars.jpeg');">
                                                <div class="hexTop"></div>
                                                <div class="hexBottom"></div>
                                            </div>
                                            <figcaption>
                                                <h4>Harshit Suthar<h4>
                                                <span>Frontend Devloper,Scrapy</span>
                                            </figcaption>
                                        </figure>
                                        <div class="text">
                                            <p>Working on Frontend and presentaion.</p>
                                        </div>
                                    </div>
                                   
                                    
                                    
                                </div>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                   
                    <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
        
        <!-- ================================
        JavaScript Libraries
        ================================= -->
        <script src="js/vendor/jquery-2.2.4.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery-validation.min.js"></script>
        <script src="js/form.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>