<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        <title>Scrapy||Uses</title>
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        
        <!-- ================================
        CSS Files
        ================================= -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="css/themefisher-fonts.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/dark.css">
        <link id="color-changer" rel="stylesheet" href="css/colors/color-0.css">
    </head>

    <body class="dark">

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>

       

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-works relative">
                    <!-- .close -->
                    <a href="./" class="page-close"><i class="tf-ion-close">    </i></a>
                    <!-- /.close -->

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title text-center">
                                    <h2> Scrapy  <span class="primary">   Uses</span> <span class="title-bg">Scrapper</span></h2>
                                    <p>Scrapy can be used by most of Data analyist,market aggregreator ,Data Scientist inorder to get most of its data in a organised way.
                                        and used for its reseacrch and buisness purpose.
                                    </p>
                                </div>
                            </div>                            
                        </div> <!-- /.row -->

                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="filter list-inline">
                                    <li><a href="#" class="active" data-filter="*">All</a></li>
                                    <li><a href="#" data-filter=".Photoshop">Data analyist</a></li>
                                    <li><a href="#" data-filter=".Illustrator">Devlopers</a></li>
                                    <li><a href="#" data-filter=".Indesign">Marketplace</a></li>
                                    <li><a href="#" data-filter=".Artworks">E-commerce</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="row isotope-gutter">
                            <div class="col-xs-12 col-sm-6 col-md-4 Photoshop Illustrator">
                                <figure class="works-item">
                                    <img src="img/works/data.png" alt="">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>Data Analyst and Consultant</h4>
                                        <p>Use web scraped data to back-up business cases. <br>Quickly do industry, marketing and competitor analysis</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 Illustrator">
                                <figure class="works-item">
                                    <img src="img/works/dev.png" alt="">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>Devloper</h4>
                                        <p>Scrape data using our desktop app. Use our REST API<br> to build mobile and web apps quicker.</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 Indesign Photoshop">
                                <figure class="works-item">
                                    <img src="img/works/market.png" alt="">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>Aggregator and Marketplace</h4>
                                        <p> Aggregate data from many websites into one platform. <br>Scrape news content, products, profiles and more.</p>
                                        
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 Artworks Illustrator">
                                <figure class="works-item">
                                    <img src="img/works/psk.png" alt="">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>E-commerce</h4>
                                        <p>Extract millions of products and prices from online<br> retailers. Scrape reviews, ratings and images</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4 Photoshop">
                                <figure class="works-item">
                                    <img src="img/works/journ.png" alt="">
                                    <div class="overlay"></div>
                                    <figcaption class="works-inner">
                                        <h4>Journalist and Data scientist</h4>
                                        <p>Scrap data using our desktop app. <br>Use our REST API to build mobile and web apps quicker.</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                   
                    <!-- /.container -->

                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
        
        <!-- ================================
        JavaScript Libraries
        ================================= -->
        <script src="js/vendor/jquery-2.2.4.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery-validation.min.js"></script>
        <script src="js/form.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>